<p>post works</p>
<span (click)="openchat()" ><i class='fas fa-comment-dots' style='font-size:48px;color:red'></i></span>
<button onclick="showUnread()" style="display:none">click</button>
<div id="unread" style="display:none"> 


</div>
<iframe id="mywindow" src="https://chat.infosysmeridian.com/aoeventchat" width="100%" height="100%" style="border:none; background-color:transparent;position: absolute;
    bottom: 1px;
    right: 0px;
	
    z-index: 10;" allow="fullscreen;camera;microphone">
</iframe>
